<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{!-- Export partial from 'post-info.handlebars' and 'post' object to pass to the partial --}}
    {{> post-info post }}
  </li>
  {{/each}}
</ol>